{%extends 'base.html'%}

{%block title%}CONTACT{%endblock title%}

{%block body%}
<center><div class="container-fluid px-10000";{align-content: center}>
    <form>
        <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <br></br>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name!">
        </div>
        <br></br>
        <div class="form-group">
            <label for="exampleFormControlInput1">QUERY</label>
            <input type="desc" class="form-control" id="exampleFormControlInput1" placeholder="Share your query and we'll be in touch with you very soon...">
        </div>
        <br></br>
        <a href="thanks/" class="btn btn-primary">SUBMIT</a>

    </form>
</div></center>
{%endblock body%}