{%extends 'base.html'%}

{%block title%}about{%endblock title%}

{%block body%}

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">20 Toppings, Infinite Combinations.</p>
          <a href="/pizza/" class="btn btn-primary">Check out</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lasagna</h5>
          <p class="card-text">Container of Happiness topped with cheeze.</p>
          <a href="lasagna/" class="btn btn-primary">Check out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Noodles</h5>
          <p class="card-text">Spiraled with love.</p>
          <a href="noodles/" class="btn btn-primary">Check out</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sandwich</h5>
          <p class="card-text">Happiness pressed in between slices of bread</p>
          <a href="sandwich/" class="btn btn-primary">Check out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cake</h5>
          <p class="card-text">someone said Birthday Party?.</p>
          <a href="cake/" class="btn btn-primary">Check out</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pasta</h5>
          <p class="card-text">My own shapes confuse me.</p>
          <a href="pasta/" class="btn btn-primary">Check out</a>
        </div>
      </div>
    </div>
  </div>
{%endblock body%}