{%extends 'base.html'%}

{%block title%}Noodles{%endblock title%}

{%block body%}
<h1><center><u>Noodles</u></center></h1>
<center><img src = "https://source.unsplash.com/random/1200x300/?noodles"  alt = "Pani Puri"></center> 
<h2><u>Info about Noodles</u></h2>
<p>Panipuri, phuchka, gupchup, golgappa, or pani ke patashe is a type of snack that originates from India, and is one of the most common street foods there.</p>
<hr>
<h2><u>Ingredients</u></h2>
<ul>
    <li>Pani</li>
    <li>Puri</li>
    <li>Onion</li>
</ul>
<hr>
<h2><u>Recipe of Pani Puri</u></h2>
<ol>
    <li>Spread about a cup of meat sauce into a 9×13 pan. Add a layer of noodles.</li>
    <li>Top the noodles with some of the cheese mixture.</li>
    <li>Repeat the layers, ending with a layer of noodles and sauce</li>
</ol>
<hr>

{%endblock body%}