{%extends 'base.html'%}

{%block title%}Pasta{%endblock title%}

{%block body%}
<h1><center><u>Pasta</u></center></h1>
<center><img src = "https://source.unsplash.com/random/1200x300/?pasta" alt = "Lasagna"></center>
<h2><u>Info about Lasagna</u></h2>
<p>Lasagne originated in Italy, in the region of Emilia-Romagna. Traditionally, the dough was prepared in Southern Italy with semolina and water
and in the northern regions, where semolina was not available, with flour and eggs. Originally, in Italy, the word “lasagna” did not refer to a food.</p>
<hr>
<h2><u>Ingredients</u></h2>
<ul>
    <li>Noodles</li>
    <li>Sauce</li>
    <li>Cheese</li>
</ul>
<hr>
<h2><u>Recipe of Lasagna</u></h3>
<ol>
    <li>Spread about a cup of meat sauce into a 9×13 pan. Add a layer of noodles.</li>
    <li>Top the noodles with some of the cheese mixture.</li>
    <li>Repeat the layers, ending with a layer of noodles and sauce</li>
</ol>
<hr>
{%endblock body%}